---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}
{% include base_path %}

<h2>2025</h2>
<hr>
<ul>
  <li>Shepherd, L. A., Austin, H. J., Kavanagh, W. &amp; Merchant, N. 2025. GLAM Sector XR Accessibility Toolkit Report. Royal National Institute of Blind People (RNIB). (In press). <span class="badge badge-report">Report</span></li>
  <li>Shepherd, L. A., Austin, H. J., Kavanagh, W. &amp; Merchant, N. 2025. Games Sector XR Accessibility Toolkit Report. Royal National Institute of Blind People (RNIB). (In press). <span class="badge badge-report">Report</span></li>
  <li>Martinez, M., Shepherd, L.A., 2025. Optimising tab management with machine learning to improve user experience. In: HCI International 2025 Posters: 24th International Conference on Human-Computer Interaction, HCII 2025, Springer. (Accepted/In Press) <span class="badge badge-conf">Conference</span></li></li>
  <li>Grabinger, L., Al Madi, N., Bednarik, R., Busjahn, T., Engl, F., Ezer, T., Gruber, H., Hauser, F., Maletic, J., Obaidellah, U., Park, K.-I., Sharafi, Z., Sharif, B., Shepherd, L. A. &amp; Mottok, J. (2025). A Cookbook for Eye Tracking in Software Engineering. Submitted to : European Conference of Software Engineering Education (ECSEE 2025). <span class="badge badge-conf">Conference</span></li></li>
</ul>


<h2>2024</h2>
<hr>
<ul>

  <li>Lea, O., Shepherd, L.A. and Szymkowiak, A., 2024, November. HeartGuard VR: Immersive Romance Scam Education. In International Conference on Games and Learning Alliance (pp. 201-211). Cham: Springer Nature Switzerland. <span class="badge badge-conf">Conference</span></li></li>
  <li>Cotton, T. and Shepherd, L.A., 2024, July. Practising safe sex (t): developing a serious game to tackle technology-facilitated sexual violence. In 15th International Conference on Applied Human Factors and Ergonomics (pp. 176-186). AHFE International. <span class="badge badge-conf">Conference</span></li></li>
  <li>Houf, L., Szymkowiak, A. and Shepherd, L.A., (2024). Promotion of sustainable products: can sustainability labels promote user selection of environmentally friendly products?. Sustainability, 16(13), p.5390. <span class="badge badge-journal">Journal</span></li>
  <li>Lea, O., Shepherd, L.A. and Szymkowiak, A., 2024. HeartGuard VR. Software output – serious game. <a href="https://lynsay.itch.io/heartguardvr">https://lynsay.itch.io/heartguardvr</a>. <span class="badge badge-software">Software</span></li>
<li>Kydd, M., Shepherd, L., Johnson, G. &amp; Szymkowiak, A. (2024). Love bytes: improving romance fraud prevention. CREST Security Review, Winter 2024, 18, p. 28-29. <span class="badge badge-other">Magazine article</span></li>

</ul>


<h2>2023</h2>
<hr>
<ul>
  <li>Bilz, A., Shepherd, L.A. and Johnson, G.I., 2023. Tainted Love: A Systematic Review of Online Romance Fraud. arXiv preprint arXiv:2303.00070. <span class="badge badge-other">Preprint</span></li>
  <li>Bilz, A., Shepherd, L.A. and Johnson, G.I., 2023. Broken hearts. Software output – serious game. <a href="https://lynsay.itch.io/broken-hearts">https://lynsay.itch.io/broken-hearts</a>. <span class="badge badge-software">Software</span></li>
  <li>Kydd, M., Shepherd, L. A., Szymkowiak, A., &amp; Johnson, G. I. (2023). Straight to the heart of the matter: towards effective means of combatting romance fraud. Poster session presented at Third International Conference on Behavioural and Social Sciences in Security, Bath, United Kingdom. <span class="badge badge-conf">Conference</span></li>
  <li>Kydd, M. and Shepherd, L.A., 2023. Deep Breath: A Machine Learning Browser Extension to Tackle Online Misinformation. arXiv preprint arXiv:2301.03301. <span class="badge badge-other">Preprint</span></li>
  <li>Bilz, A., Shepherd, L. A., & Johnson, G. I. (2023). Tainted love: a systematic literature review of online romance scam research. Interacting with Computers, iwad048. <span class="badge badge-journal">Journal</span></li>
  <li>Kydd, M., Shepherd, L. A., Szymkowiak, A., &amp; Johnson, G. I. (2023). Love at First Sleight: A Review of Scammer Techniques in Online Romance Fraud. In The International Conference on Cybersecurity, Situational Awareness and Social Media (pp. 327-341). Singapore: Springer Nature Singapore. <span class="badge badge-conf">Conference</span></li>
  <li>Shepherd, L. A., &amp; Szymkowiak, A. (2023). Investigating phishing awareness using virtual agents and eye movements. In Proceedings of the 2023 Symposium on Eye Tracking Research and Applications (pp. 1-2). <span class="badge badge-conf">Conference</span></li>
</ul>


<h2>2022</h2>
<hr>
<ul>
  <li>Sahin, M., Ünlü, T., Hébert, C., Shepherd, L.A., Coull, N. and McLean, C., 2022, May. Measuring developers’ web security awareness from attack and defense perspectives. In 2022 IEEE Security and Privacy Workshops (SPW) (pp. 31-43). IEEE. <span class="badge badge-conf">Conference</span></li>
  <li>O’Hare, J. and Shepherd, L.A., 2022, June. Developing a gamified peer-reviewed bug bounty programme. In HCI International 2022 Posters: 24th International Conference on Human-Computer Interaction, HCII 2022, Virtual Event, June 26–July 1, 2022, Proceedings, Part IV (pp. 514-522). Cham: Springer International Publishing. <span class="badge badge-conf">Conference</span></li>
  <li>Shepherd, L.A., 2022, November. We can work it out: increasing accessibility in the video games industry. In Accessible Gaming Symposium 2022. <span class="badge badge-other">Blog</span></li>
  <li>Shepherd, L.A., Michalakos, C., Griffiths, R., Lynagh, M., Findleton, C., Hughes, J., Ledger, M., Scott, B., Dunnion, M., Threlfall, E. and Black, A., 2022. Gone phishing. Software output – serious game. https://lynsay.itch.io/gone-phishing. <span class="badge badge-software">Software</span></li> 
</ul>


<h2>2021</h2>
<hr>
<ul>
  <li>Boyle, P., Shepherd, L. A. (2021). MailTrout: A Machine Learning Browser Extension for Detecting Phishing Emails. British HCI Conference 2021: Post-Pandemic HCI – Living Digitally. (Accepted/In Press). <span class="badge badge-conf">Conference</span></li>
<li>Ünlü, T., Shepherd, L. A., Coull, N. J., McLean, C. (2021). Angry Birding: Evaluating Application Exceptions as Attack Canaries. 6th IEEE European Symposium on Security and Privacy (EuroS&P) 2021. <span class="badge badge-conf">Conference</span></li>
<li>Lallie, H. S., Shepherd, L. A., Nurse, J. R. C., Erola, A., Epiphaniou, G., Maple, C., Bellekens, X. (2021). <a href="https://arxiv.org/abs/2006.11929">Cyber Security in the Age of COVID-19: A Timeline and Analysis of Cyber-Crime and Cyber-Attacks during the Pandemic</a>. <em>Computers &amp; Security</em> (Accepted/In Press). <span class="badge badge-journal">Journal</span></li>
<li>Collier, B., Horgan, S., Jones, R., Shepherd, L. (2021). <a href="https://rke.abertay.ac.uk/en/publications/re-territorialising-the-policing-of-cybercrime-in-the-post-covid-">Re-territorialising the Policing of Cybercrime in the Post-COVID-19 Era: Towards a New Vision of Local Democratic Cyber Policing</a>. <em>Journal of Criminal Psychology</em> (Accepted/In Press). <span class="badge badge-journal">Journal</span></li>
</ul>


<h2>2020</h2>
<hr>
<ul>
<li>O&#8217;Hare, J., Shepherd, L. A. (2020). <a href="https://arxiv.org/abs/2009.10158">Proposal of a Novel Bug Bounty Implementation Using Gamification</a>. arXiv:2009.10158. <span class="badge badge-other">arXiv Preprint</span></li>
<li>Shepherd, L. A., De Paoli, S., Conacher, J. (2020). <a href="https://rke.abertay.ac.uk/en/publications/humancomputer-interaction-considerations-when-developing-cyber-ra">Human-Computer Interaction Considerations When Developing Cyber Ranges</a>. <em>International Journal of Information Security and Cybercrime</em> 9(2), pp.28-32. <span class="badge badge-journal">Journal</span></li>
<li>Lallie, H. S., Shepherd, L. A., Nurse, J. R. C., Erola, A., Epiphaniou, G., Maple, C., Bellekens, X. (2020). <a href="https://arxiv.org/abs/2006.11929">Cyber Security in the Age of COVID-19: A Timeline and Analysis of Cyber-Crime and Cyber-Attacks during the Pandemic</a>. arXiv:2006.11929. <span class="badge badge-other">arXiv Preprint</span></li>
<li>Collier, B., Horgan, S., Jones, R., Shepherd, L. (2020). <a href="https://blogs.ed.ac.uk/covid19perspectives/2020/06/09/local-policing-must-adapt-to-cybercrime-in-the-post-pandemic-era-write-ben-collier-shane-horgan-richard-jones-and-lynsay-shepherd/">Local policing must adapt to cybercrime in the post-pandemic era</a>. <em>COVID-19 Perspectives</em>, The University of Edinburgh. <span class="badge badge-other">Blog Article</span></li>
<li>Collier, B., Horgan, S., Jones, R., Shepherd, L. (2020). <a href="http://www.sipr.ac.uk/assets/files/REiP%20-%20Pandemic%20Cyber%20-%20Collier_Horgan_Jones_Shepherd.pdf">The Implications of the COVID-19 Pandemic for Cybercrime Policing in Scotland: a Rapid Review of the Evidence and Future Considerations</a>. <em>Research Evidence in Policing: Pandemics; No. 1</em>, Scottish Institute for Policing Research. <span class="badge badge-report">Report</span></li>
<li>Ünlü, T., Shepherd, L. A., Coull, N. J. &amp; McLean, C. (2020). <a href="https://rke.abertay.ac.uk/en/publications/a-taxonomy-of-approaches-for-integrating-attack-awareness-in-appl">A Taxonomy of Approaches for Integrating Attack Awareness in Applications</a>. <em>2020 International Conference on Cyber Security and Protection of Digital Services (Cyber Security)</em>, Dublin, Ireland. <span class="badge badge-conf">Conference</span></li>
</ul>


<h2>2019</h2>
<hr>
<ul>
<li>Scholefield, S., Shepherd, L.A. (2019). <a href="https://doi.org/10.1007/978-3-030-22351-9_13">Gamification Techniques for Raising Cyber Security Awareness</a>. In: <em>Moallem A. (eds) HCI for Cybersecurity, Privacy and Trust</em>. HCII 2019. Lecture Notes in Computer Science, vol 11594. Springer, Cham. <span class="badge badge-conf">Conference</span></li>
<li>Shepherd, L. (2019). <a href="https://www.macs.hw.ac.uk/sgcs19/">Promoting Cyber Security Awareness via Gamification</a>. <em>Abstract from the Workshop on Serious Games for Cyber Security</em>. Edinburgh, UK. <span class="badge badge-other">Workshop Abstract</span></li>
<li>Hall, C.C., Shepherd, L.A., Coull, N. (2019). <a href="https://www.mdpi.com/1999-5903/11/2/44">BlackWatch: Increasing Attack Awareness Within Web Applications</a>. <em>Future Internet</em>. 11(2):44, MDPI. <span class="badge badge-journal">Journal</span></li>
<li>Shepherd L., Renaud, K. (2019). <a href="http://dx.doi.org/10.4230/DagRep.8.8.1">How to Design Browser Security and Privacy Alerts (Extended Talk Abstract)</a>. <em> In: Johns, M., Nikiforakis, N., Volkamer, M., Wilander, J., (2019), Dagstuhl Reports- Web Application Security (Dagstuhl Seminar 18321). Dagstuhl Reports, 8(8), pp.10, Schloss Dagstuhl–Leibniz-Zentrum fuer Informatik</em>. Dagstuhl, Germany. <span class="badge badge-other">Meeting Abstract</span></li>
</ul>


<h2>2018</h2>
<hr>
<ul>
<li>Rapley, A., Bellekens, X., Shepherd, L.A., McLean, C. (2018). <a href="https://doi.org/10.3390/informatics5040046">Mayall: A Framework for Desktop JavaScript Auditing and Post-Exploitation Analysis</a>. <em>Informatics</em>. 5(4):46, MDPI. <span class="badge badge-journal">Journal</span></li>
<li>Renaud, K., Shepherd, L.A. (2018). <a href="https://doi.org/10.1109/CyberSA.2018.8551442">How to Make Privacy Policies both GDPR-Compliant and Usable</a>. <em>International Conference On Cyber Situational Awareness, Data Analytics And Assessment (CyberSA)</em>. Glasgow, 2018. <span class="badge badge-conf">Conference</span></li>
<li>Shepherd, L.A., Renaud, K. (2018). <a href="https://rke.abertay.ac.uk/en/publications/how-to-design-browser-security-and-privacy-alerts">How to Design Browser Security and Privacy Alerts</a>. <em>Proceedings of AISB 2018 Symposium, April 2018, (Symposium on Digital Behaviour Intervention for Cyber Security)</em>. Liverpool, UK. <span class="badge badge-conf">Conference</span></li>
<li>Renaud, K., Shepherd, L. (2018). <a href="http://dx.doi.org/10.1016/S1353-4858(18)30017-5">GDPR: its time has come</a>. <em>Network Security</em>, 2018(2), pp.20-20. <span class="badge badge-journal">Journal</span></li>
</ul>


<h2>2017</h2>
<hr>
<ul>
<li>Shepherd L.A., Archibald J., Ferguson R.I. (2017). <a href="https://doi.org/10.1007/978-3-319-58460-7_10">Assessing the Impact of Affective Feedback on End-User Security Awareness</a>. In: Tryfonas, T. (eds) <em>Human Aspects of Information Security, Privacy, and Trust</em>. HAS 2017. Lecture Notes in Computer Science, vol 10292, pp. 143–159. Springer International Publishing. <span class="badge badge-conf">Conference</span></li>
<li>Shepherd L.A., Archibald J. (2017). <a href="https://doi.org/10.1109/CyberSA.2017.8073387">Security Awareness and Affective Feedback: Categorical Behaviour vs. Reported Behaviour</a>. <em>International Conference On Cyber Situational Awareness, Data Analytics And Assessment (CyberSA)</em>. London, 2017. <span class="badge badge-conf">Conference</span></li>
</ul>


<h2>2014</h2>
<hr>
<ul>
<li>Shepherd L.A., Archibald J., Ferguson R.I. (2014). <a href="https://doi.org/10.3390/fi6040760">Reducing Risky Security Behaviours: Utilising Affective Feedback to Educate Users</a>. <em>Future Internet</em>. 6(4):760-772, MDPI. <span class="badge badge-journal">Journal</span></li>
<li>Shepherd, L.A., Archibald, J., and Ferguson, R.I. (2014). <a href="https://personal.cis.strath.ac.uk/george.weir/cyfor14/papers/1_shepherd.pdf">Reducing Risky Security Behaviours: Utilising Affective Feedback to Educate Users</a>. <em>Proceedings of Cyberforensics 2014</em>, University of Strathclyde, Glasgow, pp7-14, 2014. <span class="badge badge-conf">Conference</span></li>
</ul>


<h2>2013</h2>
<hr>
<ul>
<li>Shepherd L.A., Archibald J., Ferguson R.I. (2013). <a href="https://doi.org/10.1007/978-3-642-39345-7_19">Perception of Risky Security Behaviour by Users: Survey of Current Approaches</a>. In: Marinos L., Askoxylakis I. (eds) <em>Human Aspects of Information Security, Privacy, and Trust. HAS 2013. Lecture Notes in Computer Science</em>, vol 8030. Springer, Berlin, Heidelberg. <span class="badge badge-conf">Conference</span></li>
</ul>



